body {
	.font-normal(@font-size-normal);
}

/*
  Basic stylings
*/
strong {
	.font-bold(@font-size-normal);
}

em {
	font-style: italic;
}

/*
  Images
*/
img {
	max-width: 100%;
	height: auto;
}

/*
  Links
*/

a {
	text-decoration: none;
	color: @link-color;
	.transition(color 0.4s ease);

	&:hover {
		color: @link-hover-color;
	}
}

/*
  Lists, paragraphs and blockquotes
*/

p,
ul,
ol {
	line-height: 1.5;
}

/*
  Headings
*/
h1,
h2,
h3,
h4 {
	line-height: 1.25;

	.responsive(@min-width-sm, {
		line-height: 1.5;
	});
}

h1 {
	.font-normal(@font-sizes-h1);
}

h2 {
	.font-normal(@font-sizes-h2);
}

h3 {
	.font-normal(@font-sizes-h3);
}

h4 {
	.font-normal(@font-sizes-h4);
}

table {
	text-align: left;
}

th {
	text-align: left;
}

