# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
#[*]
#indent_style = tab
#indent_size = 2

# 4 space indentation
[*.yml]
indent_style = space
indent_size = 4

# Tab indentation (no size specified)
[*.php]
indent_style = tab

# Tab indentation (no size specified)
[*.twig]
indent_style = tab

# Tab indentation (no size specified)
[assets/js/**.js]
indent_style = tab

# Tab indentation (no size specified)
[assets/less/*.less]
indent_style = tab

# Tab indentation (no size specified)
[*.html5]
indent_style = tab


# Matches the exact files either package.json or .travis.yml
[{package.json,.travis.yml}]
indent_style = space
indent_size = 2
