/*
  This file is only for presentation purposes
*/
/*
  GENERAL
*/
/*
  LINKS
*/
/*
  FORMS
*/
/*
  ALERTS / ERRORS
*/
/*
	Headlines and standard text sizes (set 1 more than you defined in @breakpoints)
	default parameters: @screen-sm, @screen-md, @screen-lg, @screen-xl
*/
/*
 * Chose the with of .container
 */
/**
 * Set the spacing between your grid items and the spacing for the .container on mobile
 */
/* In order for the background-mixin to work properly, there have to be exactly twice as many background-breakpoints as
 * endings for the background-images. For each background-image-breakpoint there has to be a lower and an upper limit.
 */
/* Endings are dynamically added onto the passed background-url in the mixin */
.hidden {
  display: none;
}
.visible-desktop-sm {
  display: none;
}
@media only screen and (min-width: 768px) {
  .visible-desktop-sm {
    display: block;
  }
}
.error {
  color: #e53935;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.guaveblocks {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
@media only screen and (min-width: 768px) {
  .guaveblocks {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
@media only screen and (min-width: 992px) {
  .guaveblocks {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
@media only screen and (min-width: 1200px) {
  .guaveblocks {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}
@media only screen and (min-width: 1330px) {
  .guaveblocks {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}
.guaveblocks__link {
  background-color: #a4c92c;
  color: #ffffff;
  display: block;
  padding: 2.5rem 0;
  text-align: center;
  vertical-align: middle;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  line-height: 1.35;
  -webkit-transition: background 0.4s ease;
  -moz-transition: background 0.4s ease;
  -o-transition: background 0.4s ease;
  -ms-transition: background 0.4s ease;
  transition: background 0.4s ease;
}
@media only screen and (min-width: 768px) {
  .guaveblocks__link {
    font-size: 1.125rem;
    line-height: 1.5;
  }
}
@media only screen and (min-width: 992px) {
  .guaveblocks__link {
    font-size: 1.125rem;
    line-height: 1.5;
  }
}
@media only screen and (min-width: 1200px) {
  .guaveblocks__link {
    font-size: 1.125rem;
    line-height: 1.5;
  }
}
@media only screen and (min-width: 1330px) {
  .guaveblocks__link {
    font-size: 1.125rem;
    line-height: 1.5;
  }
}
.guaveblocks__link:hover {
  background: #ccdc39;
  color: #ffffff;
}
.fixedheader {
  top: 0;
  position: fixed;
  width: 100%;
  display: none;
  background: #ffffff;
  padding: 2rem 0;
  z-index: 10;
  -webkit-box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.08);
  box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.08);
}
.shownavigation {
  float: right;
  cursor: pointer;
  padding: 1rem 0;
}
.shownavigation .fa {
  font-size: 2rem;
}
.hidenavigation {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.hidenavigation .fa {
  font-size: 2rem;
}
.demo-block {
  border: 1px solid gray;
  display: block;
  margin-bottom: 1em;
  padding: 1em;
  text-align: center;
}
/*# sourceMappingURL=assets/css/guaveblocks.css.map */