/*
  GENERAL
*/
@white: #ffffff;
@black: #000000;

/*
  LINKS
*/
@link-color: #a4c92c;
@link-hover-color: #ccdc39;

/*
  FORMS
*/
@input-background-color: #cccccc;
@select-border-color: @input-background-color;

/*
  ALERTS / ERRORS
*/
@alert-red-color: #e53935;
