/*
 * Chose the with of .container
 */
@container-width-sm: 720px;
@container-width-md: 960px;
@container-width-lg: 1040px;

/**
 * Set the spacing between your grid items and the spacing for the .container on mobile
 */
@gutter: 20px;
