/*
	Headlines text sizes
*/
@font-sizes-h1: 2.1875rem, 4.4375rem, 6.25rem;
@font-sizes-h2: 2rem, 2.625rem, 3.75rem;
@font-sizes-h3: 1.25rem, 1.5rem, 1.875rem;

/*
	Standard text sizes
*/
@font-size-normal: 1rem, 1.25rem, 1.25rem;
@font-size-big: @font-sizes-h3;
