.responsive(@screen; @rules) {
	@media only screen and (min-width: @screen) {
		@rules();
	}
}

.tablet-portrait(@screen; @rules) {
	@media only screen and (min-width: @screen) and (orientation: portrait) {
		@rules();
	}
}

.tablet-landscape(@screen; @rules) {
	@media only screen and (min-width: @screen) and (orientation: landscape) {
		@rules();
	}
}

.font-size-loop(@counter, @list) when (@counter > 0) {
	.font-size-loop((@counter - 1), @list);

	.responsive(extract(@breakpoints, @counter), {
		font-size: extract(@list, @counter+1);
		line-height: extract(@line-height, @counter+1);
	});
}

.font-size(@list: @font-size-normal, @line-height: @line-height-normal) {
	font-size: extract(@list, 1);
	line-height: extract(@line-height, 1);

	.font-size-loop(length(@breakpoints), @list);
}

.to-rem(@attr, @value: 16px) {
	@{attr}: unit(unit(@value) / 16, rem);
}

.font-normal(@list: @font-size-normal, @line-height: @line-height-normal) {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	.font-size(@list, @line-height);
}

.font-bold(@list: @font-size-normal, @line-height: @line-height-normal) {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	.font-size(@list, @line-height);
}

.transition(@transition: all 0.4 ease) {
	-webkit-transition: @transition;
	-moz-transition: @transition;
	-o-transition: @transition;
	-ms-transition: @transition;
	transition: @transition;
}

.transform(@transform) {
	-webkit-transform: @transform;
	-moz-transform: @transform;
	-o-transform: @transform;
	-ms-transform: @transform;
	transform: @transform;
}

.middle-align(@position: absolute) {
	width: 100%;
	position: @position;
	top: 50%;
	left: 50%;
	.transform(~"translate(-50%, -50%)")
}

.vertical-align(@position: absolute) {
	width: 100%;
	position: @position;
	top: 50%;
	.transform(~"translateY(-50%)")
}

.horizontal-align(@position: absolute) {
	width: 100%;
	position: @position;
	left: 50%;
	.transform(~"translateX(-50%)")
}

.border-radius (@border-radius: 0px) {
	-webkit-border-radius: @border-radius;
	-moz-border-radius: @border-radius;
	border-radius: @border-radius;
}

.box-shadow (@shadow) {
	-webkit-box-shadow: @shadow;
	box-shadow: @shadow;
}

.hyphenate() {
	overflow-wrap: break-word;
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}

.sr-only() {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0 , 0, 0);
	border: none;
}

.micro-clearfix() {
	&:before, &:after {
		content: "";
		display: table;
	}
	&:after {
		clear: both;
	}
}
