.imagetext {
  overflow: hidden;

  &__text {
    margin: 3rem 0;

    .responsive(@min-width-sm, {
      float: left;
      width: 44%;
      padding: 0 3%;
    } );
  }

  &__image {
    margin: 3rem 0;

    .responsive(@min-width-sm, {
      float: left;
      width: 44%;
      padding: 0 3%;
    } );
  }

  &&--reverse {
    .imagetext__text,
    .imagetext__image {
      .responsive(@min-width-sm, {
        float: right;
      } );
    }
  }
}
